@import url(reset.css);
*{
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;

}
.main_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 60px;
    box-sizing: border-box;
}

.nav_left_bar {
    display: flex;
    align-items: center;
    gap: 70px;
}
.nav_left_bar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
}
.logo{
    background-color: #000;
    color: #fff;
    text-decoration: none;
    text-align: center;
    height: 60px;
    width: 163px;
    cursor: pointer; 
}
.logo a {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: -5%;
    text-align: center;
}
.logo:hover {
    background-color: #444; 
}
.nav_right {
    display: flex;
    align-items: center;
    gap: 50px;
}
.nav_right a {
    color: #000;
    text-decoration: none;
    font-size: 25px;
}
.nav_right a:hover {
    color: #777;
}
.search_box {
    height: 30px;
    width: 180px;
    font-size: 14px;
    padding: 0 10px;           
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}
.search_box:focus {
    border-color: #777;
}
.nav_left.nav-right {
    display: flex;
    align-items: center;
    gap: 20px; 
}
.section_type {
    display: flex;               
    gap: 123px;
    align-items: center;
    margin-top: 70px; 
}
.text_type {
    width: 21%; 
    margin-left: 20px;                
}
.text_type h1 {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 60px;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: -5%;
    text-align: left;
    margin-bottom: 20px;       
}
.text_type p {
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    
    margin-bottom: 20px;
}
.button_type {
    display: inline-block;
    background-color: #000;      
    color: #fff;
    padding: 12px 24px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 15px;
    transition: background-color 0.3s;
}
.button_type:hover {
    background-color: #333;    
}
.img_type {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.big_shoe {
    width: 600px;    
    height: 430px;                   
}
.small_shoe {
    width: 380px;
    height: 340px;            
}
.mirrored {
    margin-left: 20px;
    position: relative;
    transform: scaleX(-1) rotate(350deg);
    top: -45px;
    right: -20px;
}


.featured_categories {
    display: flex;                           
    margin-top: 100px;
    width: 100%;    
    justify-content: space-around;        
}

.category_card {
    flex: 1;                   
    position: relative;     
    margin-right: 20px;   
    margin-left: 20px;
}

.category_link {
    display: block;            
    position: relative;        
    text-decoration: none;     
    color: #fff;               
}
  

.category_link img {
    display: block;            
    width: 100%;               
    height: auto;             
}
.category_label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;
}
  
.shop_link {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0,0,0,0.6); 
    padding: 5px 10px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}
.shop_link:hover {
    background-color: rgba(0,0,0,0.8); 
}


.new_releases{
    margin-top: 74px;
}
.new_releases h2 {
    margin-bottom: 30px;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 20px;
}
.product_scroll {
    display: flex;
    gap: 35px;                 
    overflow-x: auto;          
    padding-bottom: 10px;     
}
  
.product_scroll::-webkit-scrollbar {
    height: 6px;               
}
.product_scroll::-webkit-scrollbar-track {  
    background: rgb(225, 225, 225);
}
.product_scroll::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
}
  
.product_card {
    flex: 0 0 auto;           
    width: 285px;             
    background-color: #fff;
    text-align: left;          
    padding: 10px;
    box-sizing: border-box;    
}
  
  
.product_card img {
    display: block;  
    width: 100%;
    height: auto;
    margin-bottom: 8px;
}
  
  
.product_card h3 {
    margin: 0 0 4px;
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}
  
  
.product_card p {
    font-size: 14px;
    color: #444;
    margin: 0;
}
.top_kicks h2 {
    margin-bottom: 30px;
    margin-top: 40px;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 20px;
}
.final_section {
    display: flex;
    flex-direction: column; 
    align-items: center;      
    justify-content: center;  
    padding-top: 160px;
    padding-bottom: 160px;     
    text-align: center;       
}
  
  
.subscribe_button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    border: 2px solid #000;   
    transition: background-color 0.3s, color 0.3s;
}
  
.subscribe_button:hover {
    background-color: #000;
    color: #fff;
}
.center_1{
    width: 240px; 
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 30px;
}
.center_2{
    width: 290px;
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
}
.center_2 p{
    margin-bottom: 30px;
}
.center_2 a{
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
}



.site_footer {
    background-color: #000;     
    color: #fff;                 
    padding: 40px 20px;          
}
.footer_columns {
    display: flex;              
    justify-content: space-between;
    flex-wrap: wrap;            
    gap: 20px;                  
    margin-bottom: 40px;       
}
  
.footer_column h4 {
    margin-bottom: 10px;
    color: rgb(196, 196, 196);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
}
.footer_column ul {
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
}
.footer_column ul li {
    margin: 0 0 6px;
}
.footer_column ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}
.footer_column ul li a:hover {
    color: #ccc;
}
  
.footer_bottom {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: center;              
    padding-top: 10px;
    margin-top: 20px;
}

.footer_column h4 {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.footer_column a {
    display: inline-block;    
    margin-right: 10px;       
    color: #fff;              
    font-size: 18px;          
    text-decoration: none;    
    transition: color 0.3s;   
}
.nav_left_bar > a:first-child{
    display: none;
}
.mobile_img_type{
    display: none;
}
@media(max-width:1200px) {
    .nav_left_bar > *:not(.logo){
        display: none;
    }
    .logo{
        width: 165px;
        height: 45px;
        line-height: 45px;
    }
    .logo a{
        line-height: 45px;
    }
    .search_box{
        display: none;
    }
    .nav_left_bar > a:first-child{
        display: block;
        margin-left: 10px;
    }
    .main_header{
        justify-content: space-around;
        padding: 0;
        width: 100%;
    }
    .section_type{
        flex-direction: column-reverse;
    }
    .img_type{
        display: none;
    }
    .featured_categories{
        flex-direction: column;
    }
    .category_card{
        margin-top: 25px;
    }
    .footer_columns{
        gap: 70px;
    }
    .text_type{
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .text_type h1,p{
        text-align: center;
    }
    .section_type{
        gap: 0px;
    }
    .mobile_img_type{
        display: flex;
        width: 100%;
        justify-content: center; 
        overflow: hidden;
        align-items: flex-start;
    }
    .mobile_img_type img:first-child{
        width: 235px;
        height: 217px;
        transform: rotate(14deg);
    }
    .mobile_img_type img:last-child{
        width: 260.83px;
        height: 375.09px;
        transform: scaleX(-1) rotate(370deg);
        
    }
    .mobile_img_type img{
        width: 170px;
    }
}