*{
    box-sizing: border-box;
}
.img-background{
    width: 1521px;
    height: 54.1875rem;
    top: -1px;
    left: 1px;
}
.img-logo{
    position: absolute;
    width: 107.62px;
    height: 26px;
    margin-top: -817px;
    left: 707px;
    margin-right: 100px;
}
.partner-text{
    color: white;
    position: absolute;
    width: 615px;
    height: 60px;
    top: 421px;
    left: 460px;
    font-family: Bebas Neue;
    font-weight: 400;
    font-size: 63px;
    line-height: 72px;
    letter-spacing: 5.71px;
    text-align: center
}
.img-award{
    color: white;
    position: absolute;
    width: 427px;
    top: 492px;
    left: 554px;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 17.3px;
    line-height: 19px;
    letter-spacing: 0px;
}
.scroll-text{
    position: absolute;
    width: 155px;
    height: 15px;
    top: 780px;
    left: 702.5px;
    color: #ffffff;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 11px;
    line-height: 1px;
    letter-spacing: 3.7px;
}