@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    box-sizing: border-box;
}

html {
  min-height: 100%;
  background-image: url('../img/Rectangle\ 1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  position: relative;
  height: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: #FFF;
  margin: 0;
  padding: 0;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-size: cover;
}

header {
    margin-bottom: 70px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-block{
    display: flex; 
    align-items: center; 
    gap: 62px;
    position: relative;
    margin-top: 70px;
    margin-left: 40px; 
}
.search-button i {
  color: #fff;
}
.search-button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  position: relative;
}
.logo a:hover{
    opacity: 0.7;
}
.logo::after{
    content: "";
    height: 28px;
    display: block;
    position: absolute;
    top:10px;
    left:165px;
    border-left: 3px solid #fff;
    margin-left: 27px;
}
.date p{
        color: rgb(200, 200, 200);
    font-family: "Eater", serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    position: relative;
    margin-bottom: 8px;
}
.search-block{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
}
.search-button{
    position: relative;
    margin-top: 50px;
}
.profile-photo{
    position: relative;
    margin-right: 33px;
    margin-top: 46px;
}
.conteiner{
    position: relative;
    margin-top: 110px;
}
.genres {
    display: flex; 
    gap: 40px; 
    color: #fff; 
    font-size: 16px; 
    position: relative;
    margin-left: 40px;
}
.genres span {
    color: rgb(255, 255, 255);
    font-family: Inter;
    position: relative;
    font-size: 28px;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: 0%;
    text-align: left;
}
.genres span:not(:last-child)::after {
    content: "|"; 
    position: absolute;
    right: -25px; 
    color: #fff; 
}
.main-name{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 64px;
    font-weight: 800;
    line-height: 77px;
    letter-spacing: 3.52px;
    text-align: left;
    margin-bottom: 17px;
    margin-top: 17px;
    margin-left: 40px;
}
.film-information {
    font: Inter;
    display: flex;
    gap: 20px; 
    color: #fff;
    font-size: 16px;
    padding-top: 17px;
    padding-bottom: 10px;
    position: relative;
    margin-left: 40px;
}
.film-information span {
    font-weight: 500;
    font-size: 30px;
    line-height: 1px;
    letter-spacing: 0;
    text-align: left;
}

